.primaryBtnLarge {
    border: 2px solid var(--primary-color);
    background: var(--primary-color);
    outline: none;
    padding: 8px 25px;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--background-light);
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: 400;
    transition: background-color 0.2s ease-in-out;
}

.primaryBtnLarge:hover {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--text-color-medium); 
}