@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Work+Sans:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

html {
    font-size: 16px;
}

:root {
    --primary-color: #F87877;
    --primary-color-medium: #F8C8C7;
    --primary-color-light: #faeded;
    --text-color-light: #949494;
    --text-color-dark: #292828;
    --text-color-medium: #585858;
    --background-light: #F9F9F9;
    --background-dark: #484848;
    --background-medium: #E8E8E8;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration: none;
}

