.services {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.featuredProducts {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 0px 30px;
}


.testimonialsContainer {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    background-color: var(--primary-color-light);
    padding: 1rem 2rem;
}

.scheduleContainer {
    margin-top: 50px;
    padding: 20px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.sheduleOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff94;
    z-index: 1;
}


.scheduleContainer table {
    margin: auto;
    max-width: 400px;
    width: 100%;
    margin-top: -15px;
    
}

.scheduleContainer table tr td {
    text-align: center;
    padding: 10px 0px;
}
