.productContainer {
    max-width: 1600px;
    padding: 1rem 4rem;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.productImages {
    flex: 1;
}

.productImagesWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.productImagesLarge {
    background: var(--background-light);
    max-width: 600px;
    width: 100%;
}

.productImagesLarge img {
    width: 100%;
}

.productImagesSmallContainer {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.productImagesSmall {
    max-width: 7rem;
    background-color: var(--background-light);
}

.productImagesSmall img {
    width: 100%;
}


.productContent {
    flex: 2;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--text-color-medium);
}

.productContent p:nth-child(1) {
    font-size: 2rem;
    font-weight: 500;
}

.productContent > p:nth-child(2) {
    color: var(--primary-color);
    font-weight: 500;
}

.productContentRating {
    display: flex;
    gap: 1rem;
}

.ratingIcon {
    color: rgb(235, 156, 11);
}

.productDescription {
    line-height: 1.4;
    font-size: 1.1rem;
}

.line {
    border-bottom: 1px solid var(--background-medium);
}

.productContentBtn {
    margin: 1rem 0rem;
    display: flex;
    gap: 1rem;
}

.quantityBtn {
    border: 2px solid var(--background-medium);
    max-width: 7rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 1rem;
    border-radius: 2rem;
}

.quantityBtn button {
    background: transparent;
    outline: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.quantityBtn button:hover {
    color: var(--primary-color);
}

.quantityBtn span {
    font-size: 1rem;
}